@font-face {
  font-family: "icons";
  src: url('/theme/fonts/iconfont/ho-iconfont-i74qrj.eot');
  src: url('/theme/fonts/iconfont/ho-iconfont-i74qrj.eot?#iefix') format('eot'),
  url('/theme/fonts/iconfont/ho-iconfont-i74qrj.woff') format('woff'),
  url('/theme/fonts/iconfont/ho-iconfont-i74qrj.ttf') format('truetype'),
  url('/theme/fonts/iconfont/ho-iconfont-i74qrj.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icons: (
 chevron: "\EA01",
 download: "\EA02",

);

// Use to apply icons
@mixin icon($position: before, $icon: false, $styles: true) {
  @if $position == both {
    $position: 'before, &:after';
  }
  &:#{$position} {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-family: 'icons';
    }
    @content;
  }
}