.accordion-item {
  display: block;
  width: 100%;

  &__toggle {
    @include icon(after, chevron);

    border: none;
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border-top: .1rem solid $border-color;
    padding: 1rem 0;
    position: relative;
    color: $base-font-color;
    font-family: $font-primary;
    text-decoration: underline;
    font-size: $font-smaller;
    line-height: 1.4;
    font-weight: $fw-semi;

    &:after {
      position: absolute;
      right: 0;
      top: 1.5rem;
      color: $gc-green;
      transform: rotate(90deg);
      font-size: 1.2rem;
      transition: transform 0.2s;
    }

    &.open {
      color: $gc-a11y-green;
      border-color: $gc-a11y-green;

      &:after {
        transform: rotate(-90deg);
      }
    }

    &.open, &:focus, &:hover {
      text-decoration: none;
    }
  }

  &__subtitle {
    margin-top: 1rem;
    display: block;
    font-size: $font-small;
    font-family: $font-primary-bold;
    line-height: 1.2;
  }

  &__content {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &--color-scheme .accordion-item__toggle {
    padding-top: 0;
    display: flex;
    text-decoration: none;
    border: none;

    &:after {
      position: relative;
      display: inline-block;
      top: auto;
      margin: 0.5rem 0 0 1rem;
    }
  }

  &--complementary {
    margin-top: 2rem;

    .file {
      &__info {
        border: none;
        margin-top: 0;
      }

      &__title {
        font-size: 1.5rem;
        line-height: 1.4;
      }
    }
  }
}

.font {
  &--league-gothic {
    font-family: $font-legacy-secondary;
  }
}