.collection {
  padding-top: 3rem;
  border-top: .1rem solid $border-color;
  margin-top: 3rem;

  @include bp-up(lg) {
    margin-top: 8rem;
  }

  &--sub {
    margin-top: 5rem;
    padding-top: 0;
    border: none;

    + .collection--sub {
      border-top: .1rem solid $border-color;
      padding-top: 3rem;
    }
  }

  &--depth-2 {
    border-top: none;
    margin-top: 2rem;

    @include bp-up(md) {
      margin-top: 5rem;
      padding-left: 3rem;
    }
  }
}

.collection {
  &__title,
  &__toggle-accordion {
    font-family: $font-secondary;
    text-transform: capitalize;

    @include bp-up(md) {
      font-size: 3.8rem;
      line-height: 1;
    }
  }

  &__toggle-accordion {
    @include icon(after, chevron);

    background: none;
    padding: 0;
    border: none;
    color: $base-font-color;
    width: 100%;
    position: relative;
    text-align: left;

    &:after {
      position: absolute;
      right: 0;
      top: 1rem;
      font-size: 1.6rem;
      color: $gc-green;
      transform: rotate(90deg);
    }

    &:focus, &:hover, &.open {
      text-decoration: underline;
      color: $gc-a11y-green;
    }

    &.open:after {
      transform: rotate(-90deg);
    }
  }
}

.collection__subtitle {
  padding-left: 3rem;
  text-transform: capitalize;

  + p {
    padding-left: 3rem;
  }
}

.collection__sub-subtitle {
  position: relative;
  padding: 0 0 0 5rem;

  &::before {
    position: absolute;
    display: block;
    top: 55%;
    margin-right: 1rem;
    content: " ";
    height: 0.2rem;
    width: 3rem;
    background: $gc-green;
    left: 0;
  }
}