.file {
  @include gc-box-shadow();
  padding: 2rem;
  background: $white;
}

.file__info {
  border-top: .1rem solid $border-color;
  margin-top: 2rem;
  padding-top: 1rem;
}

.file__title {
  font-size: $base-font_size;
  line-height: 2.6rem;
  padding-right: 1.5rem;
  word-break: break-word;
  width: calc(100% - 3rem);

  + p {
    margin-top: 1rem;
  }
}

.file__info {
  display: flex;
  flex-wrap: wrap;
}

.link--download {
  margin-left: auto;
  width: 3rem;
}

.meta-data {
  color: $gc-greyblue;
  font-size: $font-small;
  line-height: 2.4rem;

  display: flex;
  flex-wrap: wrap;

  dd, dt {
    margin: 0;
  }

  dt {
    width: 35%;
    padding-right: 2rem;
  }

  dd {
    width: 65%;

    &.url {
      width: 100%;
    }
  }
}

.file__content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-height: 15rem;
  text-align: center;

  .file--type-color & {
    min-height: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    align-self: center;
  }

  span {
    display: block;
  }

  [data-type='eps'] & {
    background: $gc-pantybrown-xlight;
  }

  [data-type='pdf'] & {
    background: lighten($gc-blue-xlight, 10%);

    .file__type {
      color: $gc-blue-xlight;
    }
  }

  [data-type='ai'] & {
    background: lighten($gc-pink-lighter, 30%);

    .file__type {
      color: $gc-pink-lighter;
    }
  }

  [data-type='json'] & {
    background: lighten($gc-orange, 40%);
  }
}

.file__type {
  color: $gc-pantybrown;
  font-family: $font-secondary;
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;

  @include bp-up(md) {
    font-size: 6rem;
    line-height: 6rem;
  }
}

.file__type-descr {
  color: $gc-greyblue;
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-family: $font-primary-semi;
}

.l-meta {
  width: 100%;
}

.l-meta-colors {
  border-top: .1rem solid $border-color;
  margin-top: 1rem;
  padding-top: 1rem;
}

.file__descr {
  display: block;
  width: 100%;
  font-size: $font-small;
  clear: both;
  margin-top: 0;
  line-height: 2.2rem;
}

.file__typedescr {
  border-top: .1rem solid $border-color;
  display: block;
  width: 100%;
  color: $gc-greyblue;
  font-size: 1.2rem;
  line-height: 1.6rem;
  clear: both;
  margin-top: 1rem;
  padding-top: 1rem;
}

.link--download {
  @include icon(before, download);
  @include square(3rem);
  @include gc-box-shadow();
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 3rem;
  border: .1rem solid $gc-a11y-green;
  transition: padding .2s, border-color .2s;
  font-size: 1.4rem;
  background: $gc-a11y-green;
  color: $white;

  &:hover, &:focus {
    padding-top: .1rem;
    border-color: $gc-dark-blue;
    color: $white;
  }

  span {
    @include visually-hidden;
  }
}

.font {
  font-size: 5.5rem;
  line-height: 5.5rem;

  &--league-gothic {
    font-family: $font-secondary;
    font-size: 7rem;
    line-height: 7rem;
  }
}

.link--read-more {
  @include icon(before, chevron);

  &:before {
    display: inline-block;
    font-size: 1rem;
    float: left;
    margin-right: 1rem;
    color: $gc-green;
  }
}

.file__content span.color {
  height: 12rem;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-family: $font-primary-bold;
}

.text--white {
  color: $white;
}