
.grid {

  > div,
  > section {
    margin-top: $gutter;

    &.card--type-doelgroep {
      margin-top: 5rem;
    }
  }

  @include bp-up(sm) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter*0.5;
    margin-right: -$gutter*0.5;
  }

  &--col-3 {
    > div,
    > section {
      width: calc(50% - #{$gutter});
      margin-left: $gutter *0.5;
      margin-right: $gutter *0.5;
    }

    @include bp-up(md) {
      > div,
      > section {
        width: calc(33.333% - #{$gutter});
      }
    }

    @include bp-up(lg) {
      > div,
      > section {
        width: calc(25% - #{$gutter});
      }
    }

    @include bp-up(xlg) {
      > div,
      > section {
        width: calc(20% - #{$gutter});
      }
    }
  }

  &--col-4 {
    > div,
    > section {
      width: calc(50% - #{$gutter});
      margin-left: $gutter *0.5;
      margin-right: $gutter *0.5;
    }

    @include bp-up(md) {
      > div,
      > section {
        width: calc(33.333% - #{$gutter});
      }
    }

    @include bp-up(lg) {
      > div,
      > section {
        width: calc(20% - #{$gutter});
      }
    }

    @include bp-up(xlg) {
      > div,
      > section {
        width: calc(14.28% - #{$gutter});
      }
    }
  }

  &--col-2 {
    @include bp-up(sm) {
      > div,
      > section {
        width: calc(50% - #{$gutter});
        margin-left: ($gutter *0.5);
        margin-right: ($gutter *0.5);
      }
    }
  }

  &--gutter-wide {
    > div,
    > section {
      @include bp-up(md) {
        padding-left: 3%;
        padding-right: 3%;
      }
    }
  }
}


