<div class="l-page-footer-wrapper">
  <footer class="page-footer">



  <div class="site-footer-menu">

    <nav class="footer-menu">
      <a href="#">Gebruiker Centraal</a>
    </nav>
  </div>
  </footer>


</div>