<html lang="nl" dir="ltr">

<head>
  {% include 'includes/head.html.twig' %}
</head>

<body class="page">


<div class="site-container">

  <header class="l-header">
    <div class="branding">
      <a href="index.php" class="branding__home-link">
        <img src="/theme/logo.svg" alt="{{ site_name }} Logo" class="branding__logo">

        <span class="branding__name">Gebruiker Centraal Beeldbank</span>
      </a>
    </div>

  </header>

  <main id="main">

    {% set menu_items = {
      '1': {
        'title': 'Top',
      }
    } %}

    <aside class="aside aside--nav">

      <nav class="main-menu">

        <h2 class="visually-hidden">Hoofdmenu</h2>

        <div class="l-inner">

          {% include 'includes/sidebar_menu.html.twig' with {
            'items' : source
          } %}
        </div>

      </nav>
    </aside>


    <div class="l-content">

      <h1>Gebruiker Centraal Beeldbank</h1>

      {% include 'includes/collection.html.twig' with {
        'items': source
      } %}
    </div>

  </main>
</div>

{% include 'includes/footer.html.twig' %}
</div>

</body>